<head>
	    <title>Sistema de Inventário de dados</title>
	    <meta charset="utf-8">
	    <meta name="theme-color" content="#7952b3">
	    <link rel = "shortcut icon" type = "imagem/x-icon" href = "img/favicon-bradesco.ico"/>
	    <!-- Bootstrap core CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<style>
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}
.logo {
max-width:10%;
min-width: 10%
}

.login {
position:absolute;
right:5%;
top:20%;
margin-left:-30px;
margin-top:-90px;
}	
	
#lupa{
   float:left;
   margin:3px 0px 0px -20px;
   cursor:pointer
}

/* formatação do conteúdo  */
#lupa:after{
   font-family:FontAwesome;
   font-size:14px;
   content:"\f002"
}	
form label {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float:left;
}

body {
			zoom: 1
		}
		
.circulo-vermelho {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;

}
.circulo-amarelo {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: yellow;

}
.circulo-verde {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: green;

}
.circulo-vermelho {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: red;

}
.circulo-amarelo {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: yellow;

}
.circulo-verde {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: green;

}

.circulo-azul{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: blue;

}

.legenda {
	width: 15px;
	height: 15px;
	display: inline-block;

}
</style>
		
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body class="bg-light">
<main>
<nav class="navbar navbar-dark bg-danger" aria-label="menu">
<div class="container-fluid">
 
<img src="img/logo-bradesco-svg.svg" class="logo" alt="...">
<div class="d-flex flex-row-reverse bd-highlight">
    <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="p-2 bd-highlight">       </div>
      <span class="text-light mx-5 py-3">SISTEMA DE INVENTÁRIO DE DADOS</span> 
	</div>
            <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto sm-6 mb-2">
          <li class="nav-item mb-0">
		  <div class="fs-5 mb-1">
            <a class="nav-link active dropdown-toggle fs-5 mb-3" href="1.InformaçõesGeraisMacroProcesso.html" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">        			
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
		<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
		<path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
		</svg>
				Histórico de inventários</a>
				<div class="dropdown-menu p-0">
                <!-- Content container to add padding-->
                <div class="yamm-content">
                  <div class="row">
                    <ul class="col-sm-3 list-style" style=" list-style-type: disc !important; padding-left: 3em;">	
                      <li>
                        <p><span style="list-style-type: none important"><strong>Perfil Usuário da Área</strong></span></p>
                      </li>
                      <li><a href="historicoInventario-Usuario.html" style="text-decoration:none"> 1. Histórico de inventários</a></li>
                    </ul>
                    <ul class="col-sm-3 list-unstyled">
                      <li>
                        <p><strong>Perfil Gestor da Área  </strong></p>
                      </li>
                      <li><a href="historicoInventario-Gestor.html" style="text-decoration:none"> 2. Histórico de inventários</a></li>
                     </ul>
                    <ul class="col-sm-3 list-unstyled">
                      <li>
                        <p><strong>Perfil Champion</strong></p>
                      </li>
                      <li><a href="historicoInventario-Champion.html" style="text-decoration:none">	3. Histórico de inventários</a></li>
                    </ul>
                    <ul class="col-sm-3 list-unstyled">
                      <li>
                        <p><strong>Perfil PPDP</strong></p>
                      </li>
                      <li><a href="historicoInventario-PPDP.html" style="text-decoration:none">  4. Histórico de inventários</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </li>
	  <li class="nav-item dropdown mt-0">
		<a class="nav-link active dropdown-toggle fs-5 mb-3" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">
		Seções</a>
					<div class="dropdown-menu p-0">
			<!-- Content container to add padding-->
			<div class="yamm-content">
			  <div class="row">
				<ul class="col-sm-3 list-style" style=" list-style-type: disc !important; padding-left: 3em;">	
				  <li style="list-style-type: none;list-style: none">
					<p><span><hr style="height:2px;border:none;color:#333;background-color:#333;"></hr></span></p>
				  </li>
				  <li><a href="1.InformacoesSobreTratamento.html" style="text-decoration:none"> 1. Informações sobre o Tratamento</a></li>
				  <li><a href="2.InformacoesSobreOsDadosTratados.html" style="text-decoration:none"> 2. Informações sobre os Dados Tratados</a></li>
				  <li><a href="3.NaturezaColetaETratamentoDosDadosPessoais.html" style="text-decoration:none"> 3. Natureza, Coleta e Tratamento dos Dados Pessoais</a></li>
				</ul>
				<ul class="col-sm-3 list-unstyled">
				  <li style="list-style-type: none;list-style: none">
					<p><span><hr style="height:2px;border:none;color:#333;background-color:#333;"></hr></span></p>
				  </li>
				  <li><a href="4.Terceiros.html" style="text-decoration:none"> 4. Terceiros</a></li>
				  <li><a href="5.BaseLegal.html" style="text-decoration:none"> 5. Base Legal</a></li>
				  <li><a href="6.Armazenamento.html" style="text-decoration:none"> 6. Armazenamento</a></li>
				  <li><a href="7.CompartilhamentoInternoExterno.html" style="text-decoration:none"> 7. Compartilhamento Interno e Externo</a></li>
				 </ul>
				<ul class="col-sm-3 list-unstyled">
				  <li style="list-style-type: none;list-style: none">
					<p><span><hr style="height:2px;border:none;color:#333;background-color:#333;"></hr></span></p>
				  </li>
				    <li><a href="8.SegurancaDoTerceiro.html" style="text-decoration:none"> &#160;8. Segurança do Terceiro</a></li>
				  <li><a href="9.TransferenciaInternacional.html" style="text-decoration:none">&#160;9. Transferência Internacional </a></li>
				  <li><a href="10.Armazenamento.html" style="text-decoration:none">10. Armazenamento</a></li>
				  <li><a href="11.Incidentes.html" style="text-decoration:none">11. Incidentes</a></li>
				</ul>
				<ul class="col-sm-3 list-unstyled">
				   <li style="list-style-type: none;list-style: none">
					<p><span><hr style="height:2px;border:none;color:#333;background-color:#333;"></hr></span></p>
				  </li>
				  <li><a href="12.QuestoesGerais.html" style="text-decoration:none">12. Questões Gerais</a></li>
				  <li><a href="13.InformacoesDeAtualizacoes.html" style="text-decoration:none"> 13. Informações de Atualizações</a></li>
				</ul>
			  </div>
			</div>
		  </div>
	  </li>
        </ul>
        <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Digite o número do Inventário" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">Pesquisar</button>
        </div>
      </div>
        <form>
          
        </form>
      </div>
	</div>
	</nav>
      <div class="container-fluid bg-light" >
        <h4 class="mt-4 mx-5 fs-3 " style="color:rgb(107, 102, 102)">Histórico de inventários<span class="fs-4">-> PPDP</h4>

<form th:action="@{/continuar}" method="post" class="mt-5">
<p class="fs-6" style="color:#000080"><span class="col-md-1 mt-1 fw-bold">Bradesco SAÚDE</span>
</td>
<hr style="height:6px;border:none;color:#333;background-color:#333;/>
<div class="row">	
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"><span>Nº Inventário</th></span>
      <th colspan="2"><span>Empresa</th></span>
      <th colspan="4"><span>Área</th></span>
	  <th colspan="4"><span>Macro Processo</th></span>
      <th colspan="2"><span>Atividade</th></span>
	  <th colspan="2"><span>Seção</th></span>
	  <th colspan="2"><span>Data e Hora</th></span>
	  <th colspan="2"><span>Situação</th></span>
	  <th colspan="1"><span>Ação</th></span>
    </tr>
  </thead>
  <tbody>
	<tr>
  	  <td colspan="1"><p class="px-5"><span class="col-md-1">2541</span></p></td>
      <td colspan="2"><p><span>SAUDE</span></p></td>
      <td colspan="4"><p><span>Jurídica</span></p></td>
	  <td colspan="4"><p><span>Consultoria Jurídica</span></p></td>
      <td colspan="2"><p><span>Elaboração de pareceres</span></p></td>
	  <td colspan="2"><p><span>14/14.<span></p></td>
	  <td colspan="2"><p><span>05/02/22 14:30<span></p></td>
	  <td class="align-top" colspan="2"><div class="circulo-azul">
	  <p><span style="color:blue">.</span></p></td></div></td>
	  <td colspan="1"><button class="btn btn-primary" title="Verificar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
		<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
		</svg></button>
	</td>
	</tr>
<tr>
  	  <td colspan="1"><p class="px-5"><span class="col-md-1">2545</span></p></td>
      <td colspan="2"><p><span>SAUDE</span></p></td>
      <td colspan="4"><p><span>Jurídica</span></p></td>
	  <td colspan="4"><p><span>Consultoria Jurídica</span></p></td>
      <td colspan="2"><p><span>Elaboração de pareceres</span></p></td>
	  <td colspan="2"><p><span>14/14.<span></p></td>
	  <td colspan="2"><p><span>05/02/22 14:30<span></p></td>
	  <td class="align-top" colspan="2"><div class="circulo-verde">
	  <p><span style="color:green">.</span></p></td></div></td>
	  <td colspan="1"><button class="btn btn-primary" title="Verificar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
		<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
		</svg></button>
	</td>
	</tr>
<tr>
  	  <td colspan="1"><p class="px-5"><span class="col-md-1">2546</span></p></td>
      <td colspan="2"><p><span>SAUDE</span></p></td>
      <td colspan="4"><p><span>Administrativo</span></p></td>
	  <td colspan="4"><p><span>Compras</span></p></td>
      <td colspan="2"><p><span>Negociação</span></p></td>
	  <td colspan="2"><p><span>14/14.<span></p></td>
	  <td colspan="2"><p><span>05/02/22 14:30<span></p></td>
	  <td class="align-top" colspan="2"><div class="circulo-vermelho">
	  <p><span style="color:red">.</span></p></td></div></td>
	  <td colspan="1"><button class="btn btn-primary" title="Verificar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
		<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
		</svg></button>
	</td>
	</tr>
	<tr>
  	  <td colspan="1"><p class="px-5"><span style="col-md-1 color">2544</span></p></td>
      <td colspan="2"><p><span style="color:red">BARE</span></p></td>
      <td colspan="4"><p><span style="color:red">Sinistro</span></p></td>
	  <td colspan="4"><p><span></span></p></td>
      <td colspan="2"><p><span></span></p></td>
	  <td colspan="2"><p><span><span></p></td>
	  <td colspan="2"><p><span><span></p></td>
	  <td class="align-top" colspan="2"><div >
	  <p><span style="color:red"></span></p></td></div></td>
	  <td colspan="1">
	</td>
	</tr>
	<tr>
  	  <td colspan="1"><p class="px-5"><span class="col-md-1">2548</span></p></td>
      <td colspan="2"><p><span style="color:red">BVP</span></p></td>
      <td colspan="4"><p><span style="color:red">Implantação de propostas
</span></p></td>
	  <td colspan="4"><p><span></span></p></td>
      <td colspan="2"><p><span></span></p></td>
	  <td colspan="2"><p><span></span></p></td>
	  <td colspan="2"><p><span><span></p></td>
	  <td class="align-top" colspan="2"><div >
	  <p><span style="color:red"></span></p></td></div></td>
	  <td colspan="1">
	</td>
	</tr>
</tbody>
</table>
<!-- Legenda -->
<strong class="mx-2">Legenda</strong>
<div class="box-info bg-light mx-2">
	<div class="box-info-grid row-fluid">
		<div class="col-md-3">
			<span class="title-box">Aprovado&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>
			<strong class="value-box;col-md-5 mx-5 circulo-verde legenda"></strong>
		</div>
		<div class="col-md-3">
			<span class="title-box">Em Andamento&#160;&#160;&#160;&#160;&#160;</span>
			&#160;<strong class="value-box;col-md-5 mx-4 circulo-amarelo legenda"></strong>
		</div>
		<div class="col-md-3">
			<span class="title-box">Reprovado&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>
			<strong class="value-box;col-md-5 mx-5 circulo-vermelho legenda"></strong>
		</div>
		<div class="col-md-3">
			<span class="title-box">Pendente aprovação</span>
			<strong class="value-box;col-md-5 mx-3 circulo-azul legenda"></strong>
		</div>
	</div>
</div>
<hr class="my-4">
</form>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>